#game {
	width: 500px;
}

.card {
	width: 100px;
	height: 166px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px;
	float:left;
	
	font-family: sans-serif;
	font-size: 30px;
}

.card.open {
	background-color: lightgrey;
	cursor: default;
}
.card.closed {
	background-color: darkgrey;
	cursor: pointer;
}

#score {
	font-family: sans-serif;
	font-size: 30px;
	text-align: left;
}